[submodule "apps/swiftx-contracts/lib/forge-std"]
	path = apps/swiftx-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/swiftx-contracts/lib/wormhole-solidity-sdk"]
	path = apps/swiftx-contracts/lib/wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
[submodule "apps/swiftx-contracts/lib/openzeppelin-contracts"]
	path = apps/swiftx-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
