@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #304fff;
  --primary-light: #5f7fff;
  --primary-dark: #0019ff;
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: var(--primary);
}

.color-primary {
  color: var(--primary);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.filter {
  filter: grayscale(1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

